
    <header>
        <div class="main">
            <div class="logo"> 
                

            </div>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="studentlogin">Register</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="https://www.vskills.in/practice/angular-10-mcq-questions">Quiz Link</a></li>
               
                <li><a [routerLink]="['/manage-questionbank']">QuestionBank</a></li>
            </ul>
        </div>
        <div class="title">
            <h1 ><b>ONLINE EXAMINATION</b></h1>
        </div>
       
    </header>

