<div class="container">
  <div class="row">
    <h1>{{questionBank?.qTitle}}</h1>
    <div class="col">
      <div class="card mb-3">
        <div class="card-header">
            {{currentQuestion?.questions}}
        </div>
        <div card-body>
            <ul class="list-group">
                <li *ngFor="let o of currentQuestion?.options" class="list-group-item">
                  <input type="radio" [(ngModel)]="o.isCorrectAns" [value]="o.id" name="Answer" class="me-3" />  {{o.title}}
                </li>
            </ul>
        </div>
        <div class="card-footer">
          <div class="float-end">
            <button type="button" class="btn btn-primary" (click)="onSaveOptions()">Next</button>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>