
<div>
    Option 1 : <input type="text" [(ngModel)]="options[0].title" /> <input type="checkbox"  [(ngModel)]="options[0].isCorrectAns" /> Is Correct Answer
  </div>
  <div>
    Option 2 : <input type="text" [(ngModel)]="options[1].title" /> <input type="checkbox"  [(ngModel)]="options[1].isCorrectAns" /> Is Correct Answer
  </div>
  <div>
    Option 3 : <input type="text" [(ngModel)]="options[2].title" /> <input type="checkbox"  [(ngModel)]="options[2].isCorrectAns" /> Is Correct Answer
  </div>
  <div>
    Option 4 : <input type="text" [(ngModel)]="options[3].title" /> <input type="checkbox"  [(ngModel)]="options[3].isCorrectAns" /> Is Correct Answer
  </div>
  <div>
    <button type="button" (click)="saveAns()">Save Answers</button>
  </div>

  

